<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>backend</title>
	<link th:rel="stylesheet" th:href="@{/webjars/bootstrap/5.3.2/css/bootstrap.min.css}"/>
	<link th:rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="icon" type="image/png" href="images/javaIcon.png">
</head>
<body>
    <div class="container d-flex justify-content-center align-items-center h-100">
        <div class="content text-center">
            <h1 class="py-2">Backend running on</h1>
            <h2>http://127.0.0.1:8080</h2>
        </div>
    </div>
</body>
</html>
